POSTGRES_URL="postgres://postgres.pzjhupjfojvlbthnsgqt:PkwYwI79zT9G0RqM@aws-0-us-east-1.pooler.supabase.com:6543/postgres?sslmode=require&supa=base-pooler.x"
POSTGRES_PRISMA_URL="postgres://postgres.pzjhupjfojvlbthnsgqt:PkwYwI79zT9G0RqM@aws-0-us-east-1.pooler.supabase.com:6543/postgres?sslmode=require&supa=base-pooler.x"
SUPABASE_URL="https://pzjhupjfojvlbthnsgqt.supabase.co"
NEXT_PUBLIC_SUPABASE_URL="https://pzjhupjfojvlbthnsgqt.supabase.co"
POSTGRES_URL_NON_POOLING="postgres://postgres.pzjhupjfojvlbthnsgqt:PkwYwI79zT9G0RqM@aws-0-us-east-1.pooler.supabase.com:5432/postgres?sslmode=require"
SUPABASE_JWT_SECRET="ltMPO1DoUJdwDalveeQeJfcZS+bSrAHpdfREyKWoIYgmGYM4udJiH843D8aFQd8fj81idbbLcODDsPVIfzKAmA=="
POSTGRES_USER="postgres"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB6amh1cGpmb2p2bGJ0aG5zZ3F0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDYxNTc3MzAsImV4cCI6MjA2MTczMzczMH0.e3QPPrZUgRSgCQqfsL_ikeGn5Zf_cboChDLpgREkxrw"
POSTGRES_PASSWORD="PkwYwI79zT9G0RqM"
POSTGRES_DATABASE="postgres"
SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB6amh1cGpmb2p2bGJ0aG5zZ3F0Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0NjE1NzczMCwiZXhwIjoyMDYxNzMzNzMwfQ.v6ibujEyFzeQBrARRWqdXRx4Wp8y7fCbJff337vA91Y"
POSTGRES_HOST="db.pzjhupjfojvlbthnsgqt.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB6amh1cGpmb2p2bGJ0aG5zZ3F0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDYxNTc3MzAsImV4cCI6MjA2MTczMzczMH0.e3QPPrZUgRSgCQqfsL_ikeGn5Zf_cboChDLpgREkxrw"